
.the-field {
    
    border: 5px solid black;
    border-radius: 12px;
    max-width: 50vw;
    background-color: #484444;
    filter: drop-shadow(0 6mm 10mm rgb(28, 0, 210));
    
    }

.title {
    border: 5px solid black;
    border-radius: 12px;
    background-color: #484444;
    text-align: center;
    font-size: 50px;
    font-weight: 5500;
    color:white;
    text-shadow: 5px white;
    max-width: 40vw;
    justify-content: center;
}

div {
    border: 5px solid black;
    margin: 15px;
    border-radius: 12px;
}

label {
    font-size: xx-large;
    color: white;
   

}

input {
    height: 20px;
    width: 20px;
}

input:hover {
cursor: pointer;

}

.p-1 {
    color: crimson;
    font-size: 50px;
}
.p-2 {
    color: orange;
}
.p-3 {
    color: forestgreen;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background: linear-gradient(-45deg, grey, black, white);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%
    }
    100%{
        background-position: 0% 50%
    }
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}
